<%= form_for :group, url: groups_path, method: 'post' do |f| %>
  <div class="form-group">
    <%= f.file_field :image_file, class: 'form-control-file', placeholder: 'Photo (optional)'  %>
  </div>
  <div class="form-group">
    <%= f.label :name, class: 'sr-only' %>
    <%= f.text_field :name, class: 'form-control', maxlength: 35, placeholder: 'Name' %>
  </div> 
  <%= f.submit 'Save', class: 'btn btn-lg btn-success btn-block'%>
<% end %>