<% if @ingredients.count > 0 %>

  <div class="card mb-3">
    <div class="card-body">
      <div class="row">      
        <div class="col-8">Total spent:</div>
        <div class="col-4"><%= @spent %></div>
      </div>
    </div>
  </div>     

  <% @ingredients.each do |i| %>
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-3">        
            <%= cl_image_tag(i.group.icon, width: 72, height: 72, crop: 'pad') %>
          </div>
          <div class="col-6">        
            <%= i.name %>
            <br>Created at <%= i.created_at.strftime("%Y-%m-%d") %>
            <br>by <%= i.author.name %>
          </div>
          <div class="col-3">        
            <%= i.amount %>
          </div>
        </div>
      </div>
    </div>                   
  <% end %>
<% else %>
  <div class="card mb-3">
    <div class="card-body">
      <div class="row">      
        <div class="col-12">There are no ingredients in this list.</div>                
      </div>
    </div>
  </div>         
<% end %>
<%= link_to 'Back', groups_path, class: 'btn btn-lg btn-primary btn-block' %>