<% if @ingredients.count > 0 %>
  <div class="card mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">          
          <%= cl_image_tag(@icon, class: 'sidebar-user-avatar', width: 150, height: 150, crop: 'pad') %>
        </div>
      </div>      
    </div>
  </div>  
    <div class="card mb-3">
    <div class="card-body">
      <div class="row">      
        <div class="col-8"><strong>Total spent:</strong></div>
        <div class="col-4">US$ <%= @spent %></div>
      </div>      
    </div>
  </div>

  <% @ingredients.each do |i| %>
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-8">        
            <strong><%= i.name %></strong>
            <br>Created at <%= i.created_at.strftime("%Y-%m-%d") %>
            <br>by <span class="badge badge-secondary"><%= i.author.name %></span>
            <br>Store: <span class="badge badge-secondary"><%= i.store.name %></span>
          </div>
          <div class="col-4">        
            US$ <%= i.amount %>            
          </div>
        </div>
      </div>
    </div>                   
  <% end %>
<% else %>
  <div class="card mb-3">
    <div class="card-body">
      <div class="row">      
        <div class="col-12">There are no ingredients in this list.</div>                
      </div>
    </div>
  </div>         
<% end %>
<%= link_to 'Back', groups_path, class: 'btn btn-lg btn-success btn-block mb-4' %>