<%= form_for :user, url: users_path, method: 'post' do |f| %>
  <div class="card mb-3">
    <div class="card-body">
      <div class="form-group">
        <%= f.file_field :image_file, class: 'form-control-file', placeholder: 'Photo (optional)'  %>
      </div>
      <div class="form-group">
        <%= f.label :name, 'Name: ', class: 'sr-only' %>
        <%= f.text_field :name, class: 'form-control', maxlength: 35, placeholder: 'Name' %>
      </div>
      <div class="form-group">
        <%= f.label :username, 'Username: ', class: 'sr-only' %>
        <%= f.text_field :username, class: 'form-control', maxlength: 15, placeholder: 'Username' %>
      </div>
    </div>
  </div>     
  <%= f.submit 'Create user', class: 'btn btn-lg btn-success btn-block'%>
<% end %>