<% if @grouped_ingredients.count > 0 %>
  <div class="card mb-3">
    <div class="card-body">
      <div class="row">      
        <div class="col-9"><strong>Total spent:</strong></div>
        <div class="col-3">US$ <%= @spent %></div>
      </div>
    </div>
  </div>         

  <% @grouped_ingredients.each do |i| %>
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-3">        
            <%= cl_image_tag(i.group.icon, width: 72, height: 72, crop: 'pad') %>
          </div>
          <div class="col-6">        
            <strong><%= i.name %></strong>
            <br>Created at <%= i.created_at.strftime("%Y-%m-%d") %>
            <br>By: <span class="badge badge-secondary"><%= i.author.name %></span>
            <br>Store: <span class="badge badge-secondary"><%= i.store.name %></span>
          </div>
          <div class="col-3">        
            US$ <%= i.amount %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="card mb-3">
    <div class="card-body">
      <div class="row">      
        <div class="col-12">There are no ingredients in this list.</div>                
      </div>
    </div>
  </div>         
<% end %>
<%= link_to 'Add new', new_ingredient_path, class: 'btn btn-lg btn-success btn-block mb-4' %>
