<!DOCTYPE html>
<html>
  <head>
    <title>My Cook Book :D</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
  </head>

  <body>

    <div class="d-flex" id="wrapper">
      <div class="bg-light border-right" id="sidebar-wrapper">
        <% if current_user %>
          <div class="sidebar-heading">  
            <% if current_user.avatar.nil? %>
              <img src="https://i7.pngguru.com/preview/831/88/865/user-profile-computer-icons-user-interface-mystique.jpg" alt="" width="150" height="150">
            <% else %>
              <%= cl_image_tag current_user.avatar %>
            <% end %>            
          </div>
          <div class="list-group list-group-flush">
            <%= link_to 'All my transactions', '#', class: 'list-group-item list-group-item-action bg-light' %>
            <%= link_to 'All my external transactions', '#', class: 'list-group-item list-group-item-action bg-light' %>
            <%= link_to 'All groups', '#', class: 'list-group-item list-group-item-action bg-light' %>          
            <%= link_to 'Sign out', signout_path(current_user.id), method: 'delete', class: 'list-group-item list-group-item-action bg-light' %>          
          </div>          
        <% else %>
          <div class="sidebar-heading">  
            <img src="https://i7.pngguru.com/preview/831/88/865/user-profile-computer-icons-user-interface-mystique.jpg" alt="" width="150" height="150">
          </div>
          <div class="list-group list-group-flush">
            <%= link_to 'Sign up', new_user_path, class: 'list-group-item list-group-item-action bg-light' %>
            <%= link_to 'Sign in', root_path, class: 'list-group-item list-group-item-action bg-light' %>
          </div>
        <% end %>    
      </div>
      <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <button class="btn btn-outline-secondary" Type="button" id="menu-toggle">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
        <div class="container-fluid">
          <% flash.each do |type, msg| %>
            <% if flash[:notice] %>
              <div class="alert alert-info" role="alert">
            <% elsif flash[:success] %>
              <div class="alert alert-success" role="alert">
            <% elsif flash[:alert] %>
              <div class="alert alert-warning" role="alert">
            <% elsif flash[:error] %>
              <div class="alert alert-danger" role="alert">                
            <% else %>
              <div class="alert alert-secondary" role="alert">
            <% end %>                         
            <%= msg %>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>  

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
